<!DOCTYPE html>
<html>
  <head>
    <title>Enterprise Warp Drive</title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="span12"><img src="/images/top_banner.jpg" class="img-rounded"></div>
      </div>
      <div class="row">
        <div class="span12">
          <table class="table margin_top_sm">
            <tr>
              <th colspan="7"><h1 class="text-center">Nuevas Fronteras</h1></th>
            </tr>
            <tr>
              <th>#</th>
              <th>Daño A (%)</th>
              <th>Daño B (%)</th>
              <th>Daño C (%)</th>
              <th>Warp (%)</th>
              <th>Resultado de Inyectores</th>
              <th>Tiempo Funcionamiento</th>
            </tr>
            <tr class="<%= results[11].tr_class %>">
              <td>&nbsp;</td>
              <td><%= results[11].data.injectors.A.damage %></td>
              <td><%= results[11].data.injectors.B.damage %></td>
              <td><%= results[11].data.injectors.C.damage %></td>
              <td><%= results[11].data.warp_core.desired_speed %></td>
              <td><h5><%= results[11].injector_results %></h5></td>
              <td><h5><%= results[11].remaining_time %><h5></td>
            </tr>
          </table>
          <form class="form-inline" method="POST">
          <div class="row">
            <div class="span2 offset1 text-center">
              <div class="input-prepend input-append">
                <span class="add-on">A:</span>
                <input class="input-mini" id="damage_a" name="damage_a" type="text" value="<%= results[11].data.injectors.A.damage %>">
                <span class="add-on">%</span>
              </div>
            </div>
            <div class="span2 text-center">
              <div class="input-prepend input-append">
                <span class="add-on">B:</span>
                <input class="input-mini" id="damage_b" name="damage_b" type="text" value="<%= results[11].data.injectors.B.damage %>">
                <span class="add-on">%</span>
              </div>
            </div>
            <div class="span2 text-center">
              <div class="input-prepend input-append">
                <span class="add-on">B:</span>
                <input class="input-mini" id="damage_c" name="damage_c" type="text" value="<%= results[11].data.injectors.C.damage %>">
                <span class="add-on">%</span>
              </div>
            </div>
            <div class="span3 text-center">
              <div class="input-prepend input-append">
                <span class="add-on">Warp:</span>
                <input class="input-mini" id="speed" name="speed" type="text" value="<%= results[11].data.warp_core.desired_speed %>">
                <span class="add-on">%</span>
              </div>
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="span9 offset1 text-center">
              <button class="btn btn-large btn-block btn-primary" type="submit">Go Mr. Sulu!</button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </body>
</html>